/* Normalizing CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2em;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  background-color: #0ebac5;
  color: #333333;
}

/* Main - CSS Column Layout */
.container {
  background-color: #eef5ff;
  padding: 1em;
  border-radius: 10px;

  column-width: 250px;
  column-gap: 15px;
}

img {
  width: 100%;
}

h1 {
  color: #222;
  font-family: 'Open Sans', sans-serif;
  /* Using clamp() for responsive font */
  font-size: clamp(22px, 5vw, 52px);
  line-height: 1.2em;
  font-weight: 900;
  text-align: center;
  margin-bottom: 2rem;
}
